<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website</title>
</head>

<body>
    <h1>books to read</h1>
    <p>there are a lot of books to read for you</p>

    <hr>
    <!--examle of absolute link-->
    <a href="https://www.w3schools.com/default.asp">click here to go w3schools home page</a>
    <!--example of relative link-->
    <a href="/about.html">go to about</a>
    <hr>

    <!--image tag-->
    <!--<img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="human image">-->
    <!--<img src="/image.avif" alt="">-->

    <hr>
    <b>this is bold</b><br>
    <i>this is italic</i><br>
    <u>this is underline</u><br>
    <hr>
</body>

</html