<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul type="square"> <!--but we dont use type attribute because its use is depricated -->
        <li>Home</li>
        <li>About</li>
        <li>Service</li>
        <li>Contact</li>
    </ul>

    <ol type=1>
        <li>Home</li>
        <li>About</li>
        <li>Service</li>
        <li>Contact</li>
    </ol>

    <header>
        <nav>
            home
            about
        </nav>
    </header>
    <main>
        <!--this is the main content-->
        <section>
            <a href="https://codewithharry.com" target="_main">this is the website which helps me to learn html</a>
        </section>

        <section>
            <div>
                <h1>why love html</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, laudantium dignissimos ipsa quae
                    tempore, beatae illo ratione cumque amet quibusdam velit tempora molestiae quaerat at doloribus
                    accusamus. Nisi laboriosam molestias tenetur neque sint maiores assumenda in iusto at delectus
                    temporibus voluptatum laborum quae, asperiores sapiente placeat consequuntur ea. Aperiam, minus.</p>
            </div>

            <!--div is an example of block element-->
            <div>
                <h1>why use bootstrap</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta iste aut accusantium debitis numquam
                    reprehenderit a, ullam eum nihil corrupti!</p>
            </div>
            <!-- span is an example of inline element -->
            <span>
                i am a span tag
            </span>
            <span>
                i am another span tag
            </span>

        </section>
    </main>
    <footer>
        this is footer
    </footer>
</body>

</html>